<div class="blocks affiliates">
  <% if @affiliates.include? 'partners' %>
  <div class="block -gray">
      <div class="block-content">
        <h4>Partnered With</h4>
        <div class="affiliates-slider affiliates-slider-w<%= @affiliates.length==2 ? '3' : '2' %>">
        <% unless @partnered_supporters.blank? %>
          <% for supporter in @partnered_supporters %>
            <div class="item"><a href="#"><%= image_tag supporter.logo.url(:thumb), alt: supporter.title %></a></div>
          <% end %>
        <% end %>
        </div>
      </div>
    <a class="affiliates-link" href="#"><div class="plus-arrow"></div></a>
  </div>
  <% end %>
  <% if @affiliates.include? 'sponsors' %>
  <div class="block -gray">
      <div class="block-content">
        <h4>Sponsored By</h4>
        <div class="affiliates-slider affiliates-slider-w<%= @affiliates.length==2 ? '3' : '2' %>">
        <% unless @sponsored_supporters.blank? %>
          <% for supporter in @sponsored_supporters %>
            <div class="item"><a href="#"><%= image_tag supporter.logo.url(:thumb), alt: supporter.title %></a></div>
          <% end %>
        <% end %>
        </div>
      </div>
    <a class="affiliates-link" href="#"><div class="plus-arrow"></div></a>
  </div>
  <% end %>
  <% if @affiliates.include? 'featured' %>
  <div class="block -gray">
      <div class="block-content">
        <h4>Featured On</h4>
        <div class="affiliates-slider affiliates-slider-w<%= @affiliates.length==2 ? '3' : '2' %>">
          <% unless @featured_supporters.blank? %>
            <% for supporter in @featured_supporters %>
              <div class="item"><a href="#"><%= image_tag supporter.logo.url(:thumb), alt: supporter.title %></a></div>
            <% end %>
          <% end %>
        </div>
      </div>
    <a class="affiliates-link" href="#"><div class="plus-arrow"></div></a>
  </div>
  <% end %>
</div>