<div class="cart <%= @cart.count == 0 ? 'empty' : '' %>" id="cart">

  <%= form_tag(orders_path, method: 'post', class: 'checkout -pink', id: 'checkout') do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :payment_method_nonce, '' %>
    <div class="cart-review cart-stage -pink" data-stage="review">
      <span class="cart-accordion-toggle">
        <svg class="icon icon-cart" role="img"><use xlink:href="#icon-cart"></use></svg>
        <svg class="icon icon-arrow-left" role="img"><use xlink:href="#icon-arrow-left"></use></svg>
      </span>
      <a href="#" class="cart-close"><span class="screen-reader">close the shopping cart</span><span class="x -white"></span></a>
      <h3>Your Cart</h3>
      <div class="cart-items-wrap">
        <%= render partial: "carts/show" -%>
      </div>
      <div class="actions">
        <div id="paypal-button"></div>
        <a href="#checkout" data-original-text="Checkout" data-scroll class="btn -white -hollow stage-submit checkout-toggle">Checkout</a>
      </div>
    </div>

    <div class="cart-checkout cart-stage -gray" data-stage="checkout">
      <span class="cart-accordion-toggle">
        <svg class="icon icon-document" role="img"><use xlink:href="#icon-document"></use></svg>
        <svg class="icon icon-arrow-left -pink" role="img"><use xlink:href="#icon-arrow-left"></use></svg>
      </span>
      <a href="#" class="cart-close"><span class="screen-reader">close the shopping cart</span><span class="x"></span></a>
      <h3>Contact Information</h3>
      <div class="form-content">
        <div class="form-group -first">
          <label for="checkoutFirstName">First Name*</label>
          <input type="text" name="checkoutFirstName" id="checkoutFirstName" required>
        </div>
        <div class="form-group">
          <label for="checkoutLastName">Last Name*</label>
          <input type="text" name="checkoutLastName" id="checkoutLastName" required>
        </div>
        <div class="form-group">
          <label for="checkoutEmail">Email Address*</label>
          <input type="email" name="checkoutEmail" id="checkoutEmail" required>
        </div>
        <div class="form-group">
          <label for="checkoutAddress">Street Address (Include Apt #)*</label>
          <input type="text" name="address" id="checkoutAddress" required>
        </div>
        <div class="form-group">
          <div class="one-half-left">
            <label for="checkoutCity">City*</label>
            <input type="text" name="city" id="checkoutCity" required>
          </div>
          <div class="one-half-right">
            <label for="checkoutState" class="select-wrapper">
              <legend>State*</legend>
              <div class="button custom-select ff-hack">
              <select name="state" id="checkoutState" required>
                <option value=""></option>
                <option value="AK">AK</option>

                <option value="AL">AL</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>

                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DC">DC</option>
                <option value="DE">DE</option>

                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="IA">IA</option>

                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="KS">KS</option>

                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>

                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>

                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>

                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>

                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>

                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>

                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>

                <option value="VA">VA</option>
                <option value="VT">VT</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>

                <option value="WV">WV</option>
                <option value="WY">WY</option>
              </select>
              </div>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="checkoutZipCode">Zip/Postal Code*</label>
          <input type="text" name="zip_code" id="checkoutZipCode" required>
        </div>
        <div class="form-group">
          <label for="checkoutSource" class="select-wrapper">
            <legend>How did you find out about Reason To Give?</legend>
            <div class="button custom-select ff-hack">
            <select name="checkoutSource" id="checkoutSource">
              <option value=""></option>
              <option value="checkoutSourceLink">Link From Another Site</option>
              <option value="checkoutSourceBlog">Blog Post</option>
              <option value="checkoutSourceFlyer">Flyer</option>
              <option value="checkoutSourceRadio">Radio Spot</option>
              <option value="checkoutSourceArticle">Article</option>
              <option value="checkoutSourceFriend">From A Friend</option>
              <option value="checkoutSourceOther">Other</option>
            </select>
            </div>
          </label>
          <label for="checkoutSourceOtherSource" class="hide">What was the other source?</label>
          <input id="checkoutSourceOtherSource" name="checkoutSourceOtherSource" type="text" placeholder="Other Source" />
        </div>
        <div class="form-group">
          <fieldset class="custom-checkbox-wrap">
            <input type="checkbox" name="checkoutNewsletter" id="checkoutNewsletter" value="1">
            <label class="custom-checkbox" for="checkoutNewsletter">Would you like to receive our newsletter?</label>
          </fieldset>
        </div>
      </div>
      <div class="actions">
        <a href="#payment" data-original-text="Payment" class="btn -pink -hollow stage-submit payment-toggle">Payment</a>
        <%= submit_tag 'Donate', class: 'submit paypal-submit cart-submit btn -pink -hollow', data: { original_text: "Donate"}, disabled: true  %>
      </div>
    </div>

    <div class="cart-payment cart-stage -gray" data-stage="payment">
      <a href="#" class="cart-close"><span class="screen-reader">close the shopping cart</span><span class="x"></span></a>
      <h3>Payment</h3>
      <div class="form-content">
        <div class="form-group -first">
          <label for="checkoutCCNum">Card Number*</label>
          <input data-braintree-name="number" type="text" class="cc-num" id="checkoutCCNum" placeholder="#### #### #### ####" pattern="\d*" autocomplete="cc-number" required>
        </div>
        <div class="form-group">
          <label for="checkoutCCExp">Expiration Date*</label>
          <input data-braintree-name="expiration_date" type="text" class="cc-exp" id="checkoutCCExp" placeholder="MM / YY" required>
        </div>
        <div class="form-group">
          <label for="checkoutCCCvc">CVC*</label>
          <input data-braintree-name="cvv" type="text" class="cc-cvc" id="checkoutCCCvc" placeholder="###" pattern="\d*" autocomplete="off" required>
        </div>
        <div class="form-group">
          <label for="checkoutCCZip">Zip/Postal Code*</label>
          <input data-braintree-name="postal_code" type="text" class="cc-zip" id="checkoutCCZip" placeholder="#####" required>
        </div>
      </div>
      <div class="actions">
        <%= submit_tag 'Donate', class: 'submit cart-submit btn -pink -hollow', data: { original_text: "Donate"} %>
      </div>
    </div>

  <% end %>
</div>