  <div class="block reason-block">
	  <%= image_tag reason.image.url(:thumb) unless reason.image.nil? %>
    <a href="<%= reason_path(reason) %>">
      <div class="block-content">
          <h3><%= reason.title %></h3>
          <p class="reason-block-progress"><%= number_to_currency(reason.total_donated, precision: 0) %> of <%= number_to_currency(reason.total_needed, precision: 0) %> Raised</p>
      </div>
    </a>
  </div>
