<% cache [@reason, @reason.is_success?] do %>
    <div class="feature">
      <div class="feature-image" <% unless @reason.image.blank? %> style="background-image: url('<%= image_path(@reason.image.url(:large)) %>');background-size:cover;"<% end %>></div>
      <div class="feature-content-wrap">
        <% if !@reason.featured_video.blank? %>
          <a href="#" class="video-toggle -desktop-only"><svg class="icon icon-play" role="img"><use xlink:href="#icon-play"></use></svg></a>
        <% end %>
        <div class="feature-content">
          <div class="feature-text">          
            <h2><%= @reason.reason_or_success_title %></h2>
            <% if !@reason.featured_video.blank? %>
              <a href="#" class="video-toggle -mobile-only"><svg class="icon icon-play" role="img"><use xlink:href="#icon-play"></use></svg></a>
            <% end %>
            <div class="description"><%= raw @reason.is_success? ? @reason.success_excerpt : @reason.excerpt %></div>
          </div>
          <% unless @reason.is_success? && @reason.total_donated==0 %>
            <div class="feature-action">
              <div class="initial-actions single-reason">
                <div class="progress-bar">
                <% if @reason.is_success? %>
                  <p class="progress-text"><%= number_to_currency(@reason.total_donated, precision: 0) %> Raised</p>
                  <div class="bar" data-percent="100"></div>
                <% else %>
                  <%= render partial: "/reasons/progress_text", locals: { reason: @reason } -%>
                  <div class="bar" data-percent="<%= @reason.percent_fulfilled %>"></div>
                <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>