<% cache reason do %>
    <div class="feature">
      <div class="feature-image" <% unless reason.image.blank? %> style="background-image: url('<%= image_path(reason.image.url(:large)) %>');background-size:cover;"<% end %>></div>
      <div class="feature-content-wrap">
        <div class="feature-content">
          <%# Temporary generic reason needs no single page link %>
          <% if reason.title == 'Reason to Give' %>
            <h2><%= reason.title %></h2>
          <% else %>
            <h2><%= link_to(reason.title, reason) %></h2>
          <% end %>
          <div class="description"><%= raw reason.excerpt %> <%= link_to('Learn More', reason, class: "learn-more") unless reason.title=='Reason to Give' %></div>
          <div class="feature-action">
            <div class="initial-actions">
              <div class="progress-bar">
                <%= render partial: "/reasons/progress_text", locals: { reason: reason } -%>
                <div class="bar" data-percent="<%= reason.percent_fulfilled %>"></div>
              </div>
              <a class="donation-toggle btn -white" href="#">Donate Now!</a>
            </div>

            <%= form_tag(add_to_cart_path, remote: true, class: 'donate cart-form') do %>
              <%= number_field_tag 'amount', nil, placeholder: 'Add Donation Amount', class: 'text-input', autocomplete: :off, data: { default_value: '50' } %>
              <%= hidden_field_tag 'reason_id', reason.id %>
              <%= submit_tag 'Add to Cart', class: 'submit btn -pink' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>