    <div class="feature">
      <a href="<%= reason_path(reason) %>">
        <div class="feature-image"><%= image_tag reason.image.url(:large) unless reason.image.nil? %></div>
        <div class="feature-content-wrap">
          <div class="feature-content">
            <h2><%= reason.title %></h2>
            <p class="description"><%= raw reason.excerpt %></p>
            <div class="progress-bar">
              <p class="progress-text"><%= number_to_currency(reason.total_donated, precision: 0) %> of <%= number_to_currency(reason.total_needed, precision: 0) %> Raised</p>
              <div class="bar" style="width: <%= reason.percent_fulfilled %>%"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
