<% cache reason do %>
    <div class="feature">
      <div class="feature-image"><%= image_tag reason.image.url(:large) unless reason.image.nil? %></div>
      <div class="feature-content-wrap">
        <div class="feature-content">
          <h2><%= link_to(reason.title, reason) %></h2>
          <div class="description"><%= raw reason.excerpt %> <%= link_to 'Learn More', reason, class: "learn-more" %></div>
          <div class="feature-action">
            <div class="initial-actions">
              <div class="progress-bar">
                <p class="progress-text"><%= number_to_currency(reason.total_donated, precision: 0) %> of <%= number_to_currency(reason.total_needed, precision: 0) %> Raised</p>
                <div class="bar" data-percent="<%= reason.percent_fulfilled %>"></div>
              </div>
              <a class="donation-toggle btn -white" href="#">Donate Now!</a>
            </div>

            <%= form_tag(add_to_cart_path, remote: true, class: 'donate cart-form') do %>
              <%= number_field_tag 'amount', nil, placeholder: 'Add Donation Amount', class: 'text-input', autocomplete: :off, data: { default_value: '50' } %>
              <%= hidden_field_tag 'reason_id', reason.id %>
              <%= submit_tag 'Add to Cart', class: 'submit btn -pink' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>