<% cache success_story do %>
    <div class="feature">
      <div class="feature-image"><%= image_tag success_story.image.url(:large) unless success_story.image.nil? %></div>
      <div class="feature-content-wrap">
        <div class="feature-content">
          <h2><%= link_to(success_story.title, success_story) %></h2>
          <div class="description"><%= raw success_story.success_excerpt %> <%= link_to 'Learn More', success_story, class: "learn-more" %></div>
          <div class="feature-action">
            <div class="initial-actions single-reason">
              <div class="progress-bar">
                <p class="progress-text"><%= number_to_currency(success_story.total_donated, precision: 0) %> Raised</p>
                <div class="bar" style="max-width: 100%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>