    <div class="feature">
      <div class="feature-image"><%= image_tag reason.image.url(:large) unless reason.image.nil? %></div>
      <div class="feature-content-wrap">
        <div class="feature-content">
          <h2>Thank You So Much For Your Contribution!</h2>
          <p class="description"><%= link_to reason.title, reason %></p>
          <div class="progress-bar">
            <p class="progress-text"><%= number_to_currency(reason.total_donated, precision: 0) %> of <%= number_to_currency(reason.total_needed, precision: 0) %> Raised</p>
            <div class="thanks-bar" data-percent="<%= reason.percent_fulfilled %>"></div>
            <div class="bar" data-percent="<%= reason.percent_fulfilled(@donation.donation_items.where(reason_id: reason.id ).first.amount) %>"></div>
          </div>
          <div class="share">
            <p>Share us to help spread the word:</p>
            <p class="links"><a href="https://twitter.com/share?text=I%20just%20found%20my%20Reason%20To%20Give:&via=ReasonToGive&url=<%=u reason_url(reason) %>" class="twitter tweet-it"><svg class="icon icon-twitter" role="img"><use xlink:href="#icon-twitter"></use></svg> @reasontogive</a></p>
            <p class="links"><a target="_blank" data-href="<%= reason_url(reason) %>" href="http://www.facebook.com/sharer/sharer.php?u=<%= reason_url(reason) %>" class="facebook"><svg class="icon icon-facebook" role="img"><use xlink:href="#icon-facebook"></use></svg> /reasontogive</a></p>
          </div>
        </div>
      </div>
    </div>
