<%= content_for :title, raw(@reason.title) %>

<%= content_for :edit_link do %>
  <%= render :partial => '/shared/edit_bug', :locals => { :obj => @reason, :edit_path => rails_admin.edit_path(model_name: 'reason', id: @reason.id) }%>
<% end %>

<%= content_for :featured do %>
<div class="wrap slider-wrap">
  <div class="feature-slider">
    <%= render partial: "/reasons/reason_single" -%>
    <% unless @reason.featured_video.blank? %>
      <div class="feature-video">
        <div class="feature-video-background"></div>
        <div class="feature-video-wrap">
          <iframe type="text/html" id="video" width="100%" height="100%" src="<%= get_video_embed_url(@reason.featured_video) %>&modestbranding=1&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    <% end %>
  </div>
  <a data-scroll href="#content" class="scroll-down">
    <svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg>
    <span class="x -white"></span>
  </a>
</div>
<% end %>

<div class="blocks">
  <div class="support block -left -pink -column">
    <div class="block-content -top-half -center">
      <p><strong><%= @reason.donation_prompt %></strong></p>
      <%= render partial: "/shared/donation_form", locals: { reason: @reason } -%>
      <div class="share">
        <p>Help us spread the word by sharing this cause:</p>
        <p><a href="https://twitter.com/share?text=I%20just%20found%20my%20Reason%20To%20Give:&via=ReasonToGive" class="social-link twitter tweet-it"><svg class="icon icon-twitter" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg> @reasontogive</a></p>
        <p><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#url" class="social-link facebook"><svg class="icon icon-facebook" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg> /reasontogive</a></p>
      </div>
    </div>
    <div class="block-content -bottom-half -image-cover image-slide">
      <div class="block-image-slider-static">
        <% if @reason.is_success? and !@reason.reason_images.blank? %>
          <% for slideshow_image in @reason.reason_images %>
            <div class="item">
              <%= image_tag slideshow_image.image.url(:medium) %>
            </div>
          <% end %>
        <% elsif !@reason.secondary_image.blank? %>
          <div class="item">
            <%= image_tag @reason.secondary_image.url(:medium) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="reason-content block -right -gray">
    <div class="block-content">
    <% if @reason.is_success? %>
      <%= raw @reason.success_content %>
    <% else %>
      <%= raw @reason.content %>
    <% end %>
    </div>
  </div>
</div>

<% unless @slider_reasons.blank? %>
  <div class="reasons-slider blocks reason-blocks">
    <%= render partial: "reasons/list", collection: @slider_reasons, as: :reason %>
  </div>
<% end %>
