<%= content_for :title, 'Thanks!' %>

<%= content_for :featured do %>
  <% if @reasons.blank? %>
    <div class="wrap slider-wrap thank-you general">
      <div class="feature-slider">
        <%= render :partial => "/reasons/general_donation" -%>
      </div>
    </div>
  <% else %>
    <div class="wrap slider-wrap thank-you">
      <div class="feature-slider">
        <%= render partial: "reasons/thanks", collection: @reasons, as: :reason -%>
        <%= render partial: "reasons/general_donation" unless @general_donation.nil? -%>
      </div>
    </div>
  <% end %>
<% end %>
