<%= content_for :title, raw(@page.title_override || @page.title) %>

<%= content_for :edit_link do %>
  <%= render :partial => '/shared/edit_bug', :locals => { :obj => @page, :edit_path => rails_admin.edit_path(model_name: 'page', id: @page.id) }%>
<% end %>

<%= content_for :featured do %>
<div class="wrap banner-wrap get-involved">
  <div class="banner"<% unless @page.image.blank? %> style="background-image: url('<%= image_path(@page.image.url(:large)) %>')"<% end %>>
    <div class="banner-content">
      <% unless @page.banner_title.blank? %>
        <h2><%=raw @page.banner_title.gsub("\n","<br>") %></h2>
      <% end %>
    </div>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>

<div class="blocks how-we-help">
  <div class="block -left -pink -callout">
    <div class="block-content -center">
	    <%= raw @page.content %>
    </div>
  </div>
  <div class="block -right -gray block-slider">
    <div class="block-content">
      <div class="block-content-slider charts-slider">
        <div class="service-stats">
          <div class="one-half-left">
            <h3>Individuals Served</h3>
            <div class="stat-wrap">
              <p class="stat-figure">297</p>
              <svg class="icon icon-people" role="img"><use xlink:href="#icon-people"></use></svg>
            </div>
          </div>
          <div class="one-half-left">
            <h3>Organizations Served</h3>
            <div class="stat-wrap">
              <p class="stat-figure">191</p>
              <svg class="icon icon-building" role="img"><use xlink:href="#icon-building"></use></svg>
            </div>
          </div>
          <div class="-full amount-raised">
            <h3>Amount Raised</h3>
            <div class="stat-wrap">
              <p class="stat-figure">$342,082</p>
              <p class="description">To help support and grow<br> your local community.</p>
            </div>
          </div>
        </div>
        <div>
          <div class="-full demographics age grid">
            <h3>Age Range</h3>
            <div>
              <table class="bar-chart">
                <tbody>
                  <tr>
                    <th scope="row">0-10</th><td><div class="bar"><span class="bar-fill" style="max-width:22%;"></span><span class="bar-figure">22%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">11-17</th><td><div class="bar"><span class="bar-fill" style="max-width:26.8%;"></span><span class="bar-figure">26.8%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">18-25</th><td><div class="bar"><span class="bar-fill" style="max-width:17.6%;"></span><span class="bar-figure">17.6%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">25-29</th><td><div class="bar"><span class="bar-fill" style="max-width:3.4%;"></span><span class="bar-figure">3.4%</span></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <table class="bar-chart">
                <tbody>
                  <tr>
                    <th scope="row">30-39</th><td><div class="bar"><span class="bar-fill" style="max-width:9.3%;"></span><span class="bar-figure">9.3%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">40-49</th><td><div class="bar"><span class="bar-fill" style="max-width:10.2%;"></span><span class="bar-figure">10.2%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">>50</th><td><div class="bar"><span class="bar-fill" style="max-width:10.7%;"></span><span class="bar-figure">10.7%</span></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="-full demographics income grid">
            <h3>Annual Income</h3>
            <div>
              <table class="bar-chart">
                <tbody>
                  <tr>
                    <th scope="row"><$10,000</th><td><div class="bar"><span class="bar-fill" style="max-width:59.2%;"></span><span class="bar-figure">59.2%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">$10,000-$20,000</th><td><div class="bar"><span class="bar-fill" style="max-width:28.9%;"></span><span class="bar-figure">28.9%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">$20,000-$40,000</th><td><div class="bar"><span class="bar-fill" style="max-width:10%;"></span><span class="bar-figure">10%</span></div></td>
                  </tr>
                  <tr>
                    <th scope="row">$40,000-$60,000</th><td><div class="bar"><span class="bar-fill" style="max-width:2%;"></span><span class="bar-figure">2%</span></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div>
          <div class="-full demographics diversity">
            <h3>Diversity</h3>
            <div class="circle-graphs">
              <div class="circle-graph">
                <div><span class="percentage">36.1%</span><br>Puerto Rican</div>
              </div>
              <div class="circle-graph">
                <div><span class="percentage">19.5%</span><br>African<br>American</div>
              </div>
              <div class="circle-graph">
                <div><span class="percentage">18.5%</span><br>Dominican</div>
              </div>
              <div class="circle-graph">
                <div><span class="percentage">18.5%</span><br>Mexican</div>
              </div>
              <div class="circle-graph">
                <div><span class="percentage">3.9%</span><br>Honduran</div>
              </div>
              <div class="circle-graph">
                <div><span class="percentage">2.4%</span><br>Mixed Race</div>
              </div>
              <div class="circle-graph">
                <div><span class="percentage">1%</span><br>European</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="blocks praises">
  <div class="block -column -left -pink">
    <div class="block-content -top-two-thirds">
      <%= image_tag 'RTG_shannon2.jpg', alt: 'Shannon Medic' %>
    </div>
    <div class="block-content -bottom-third -pink">
      <div id="map"></div>
    </div>
  </div>
  <div class="block -right -gray block-slider">
    <div class="block-content-slider block-content-slider1">
      <div class="praise">
        <p class="quote">“Thank You for all the amazing work the foundation is doing. You are bringing the community so much good and that is inspiring!”</p>
        <p class="quotee">Lisa Hammershaimb</p>
        <p class="title">Reason To Give Graduate</p>
        <p class="location">Wheaton, IL</p>
      </div>
      <div class="praise">
        <p class="quote">“I think [Reason To Give] is amazing.... I am a big supporter!”</p>
        <p class="quotee">Irina B.</p>
        <p class="location">Chicago, IL</p>
      </div>
      <div class="praise">
        <p class="quote">“We think Reason to Give is cool and would love to spotlight it!”</p>
        <p class="quotee">Gordon Mayer</p>
        <p class="title">Vice President, Community Media Workshop</p>
        <p class="location">Chicago, IL</p>
      </div>
      <div class="praise">
        <p class="quote">“I just wanted to say what a fabulous idea and inspiration your [organization] is.”</p>
        <p class="quotee">Mariah M.</p>
        <p class="location">Madison, WI</p>
      </div>
      <div class="praise">
        <p class="quote">“...Firebelly Foundation is good for us and our needs. Thank you so much for the [Reason To Give] website. It's really nice of you guys!”</p>
        <p class="quotee">Maggy R.</p>
        <p class="title">Reason To Give participant</p>
        <p class="location">Humboldt Park, Chicago, IL</p>
      </div>
      <div class="praise">
        <p class="quote">“I tell a lot of people about you guys all the time. I just love love love what you all are doing! PLEASE keep up the good work!”</p>
        <p class="quotee">Joe Wright</p>
        <p class="title">Director of Development New Moms</p>
        <p class="location">Chicago, IL</p>
      </div>
      <div class="praise">
        <p class="quote">“Your organization sounds wonderful! Keep up the good fight and best of luck to you!”</p>
        <p class="quotee">Jennifer</p>
        <p class="title">Committee on Institutional Cooperation, University of Illinois Urbana-Champaign</p>
        <p class="location">Urbana-Champaign, IL</p>
      </div>
    </div>
  </div>
</div>

<div class="blocks ourStory">
  <div class="block -gray -left">
    <div class="block-content">
      <h3>Our Story</h3>
      <p>Reason to Give is a 501c3 nonprofit organization located in the Humboldt Park community of Chicago. Reason to Give was founded in 2007 by Dawn Hancock, owner of Firebelly Design, as a way for her growing studio to do good in their own backyard. Reason to Give began as an online storefront providing basic material needs to the Humboldt Park community. Over the years, Reason to Give has grown to meet the needs of our community and better serve the population. We have taken on several projects within the community, raising funds and organizing volunteer events for local schools and organizations. We find the most difficult times for our families come when sending their children back to school and around the winter holidays. For the past seven years, we have hosted two annual events to provide our families with the extra help they need during these times. Every August, we provide backpacks full of school supplies to 100 children in our program. Through our holiday events, we provide winter coats, clothing, toys, and help to fulfill our family’s wish lists. Reason to Give also provides community members with comprehensive, bilingual resource guides connecting them to other organizations across Chicago.</p>
    </div>
  </div>
  <div class="block -image-cover -right">
  </div>
</div>

<div class="blocks ourProgram">
  <div class="block -gray -left">
    <div class="block-content">
      <h3>Our Program</h3>
      <p>In 2010, Reason to Give began an education initiative to provide local families to teach a range of skills: financial management, resume writing and interview skills, computer literacy, healthy living, parenting, continuing education, and a variety of other life skills. Experts from several local universities, organization, and businesses facilitate the workshops. Upon graduation, each student bvis awarded a laptop to help them continue to reach their goals at home. The success of our education initiative has prompted Reason to Give to transform our organization, putting education at the forefront of what we do.</p>
    </div>
  </div>
  <div class="block -pink -right">
    <div class="block-content -center">
      <h4>Want to learn more about our Adult Education Program?</h4>
      <a href="educational-programs" class="btn -white -hollow -wider">More Information</a>
    </div>
  </div>
</div>

<div class="blocks theTeam">
  <div class="block -left -pink -column">
    <div class="block-content -top-half -center">
      <h3>Meet The Team</h3>
      <h4>A bit of our background</h4>
    </div>
    <div class="block-content -bottom-half -image-cover dawn">
    </div>
  </div>
  <div class="block -gray -right bio">
    <div class="block-content">
      <h3>Dawn Hancock</h3>
      <h4>Founder + Managing Director</h4>
      <p>Since opening in 1999, Firebelly has produced solid work they believe in and clients trust. Work that has merited mention in a journal here and a design archive there. While certainly proud of the studio’s history and accomplishments, Dawn feels no need to rehash the past.</p>
      <p>Though the studio remains Dawn’s focal point and her center of gravity, Firebelly has expanded into a bustling little world that she hustles across daily. A world built with her own two hands, the fearless work of her team, and an abundance of neighborhood support. Already coordinating the annual Grant for Good, a charitable award that supports one non-profit for a year, she decided to launch her own organization, which evolved into an entire socially minded enterprise.</p>
    </div>
  </div>
</div>

<div class="blocks theTeam -bottom">
  <div class="block -left -pink -column">
    <div class="block-content -top-half -image-cover shannon">
    </div>
    <div class="ourBoard block-content -bottom-half -center">
      <h3>Our Board</h3>
      <p><span>Shannon Downey</span> <span>Shawn Ingall</span></p>
      <p><span>Tara Hulka</span> <span>Kyle LaMere</span></p>
    </div>
  </div>
  <div class="block -gray -right bio">
    <div class="block-content">
      <h3>Shannon Medic</h3>
      <h4>Executive Director</h4>
      <p>Education, empowerment, continued growth. These are the cornerstones of Shannon’s career and ethos. As Executive Director and the first full-time employee of Reason to Give, she nurtured the non-profit from its infancy into a bustling, full-service organization.</p>
      <p>A Chicago native, Shannon spent time traveling the country and world, encountering and engaging with different cultures while researching and advocating for women’s issues and human rights. Upon returning to the midwest, Shannon refocused her energy on her local community. She joined the Americorps Public Allies program designed to place capable, passionate people in non-profit management positions. Through Public Allies she learned about Reason to Give, which at that time was essentially just a website and a good idea.</p>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp' %>
<% end %>