<%= content_for :title, raw(@page.title_override || @page.title) %>

<%= content_for :edit_link do %>
  <%= render :partial => '/shared/edit_bug', :locals => { :obj => @page, :edit_path => rails_admin.edit_path(model_name: 'page', id: @page.id) }%>
<% end %>

<%= content_for :featured do %>
<div class="wrap banner-wrap get-involved">
  <div class="banner"<% unless @page.image.blank? %> style="background-image: url('<%= image_path(@page.image.url(:large)) %>')"<% end %>>
    <div class="banner-content">
      <% unless @page.banner_title.blank? %>
        <h2><%=raw @page.banner_title.gsub("\n","<br>") %></h2>
      <% end %>
    </div>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img" aria-labelledby="title"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>

<div class="blocks">
  <div class="block -left -gray">
    <div class="block-content">
      <%= raw @page.content %>
    </div>
  </div>
  <div class="block -right -pink block-slider image-slide">
    <div class="block-content image-slide">
      <div class="block-image-slider0">
        <%= render partial: "shared/slideshow_image", collection: @page.page_images, as: :slideshow_image -%>
      </div>
    </div>
  </div>
</div>

<div class="blocks -column">
  <div class="block accordion -full -gray">
    <div class="block-content">
      <div class="accordion-trigger">
        <h3>Corporations</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordion-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
          <%= form_tag(applicants_contact_path, method: 'post', class: '-full') do %>
          <%= hidden_field_tag('form', 'Corporations') %>
            <div class="form-group">
              <div class="one-half-left">
                <label for="businessName">Business Name*</label>
                <input type="text" name="first_name" id="corporationName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="corporationEmail">Email Address*</label>
                <input type="email" name="email" id="corporationEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="corporationSubject">Subject*</label>
              <input type="text" name="subject" id="corporationSubject" required="true">
            </div>
            <div class="form-group">
              <label for="corporationMessage">Message*</label>
              <textarea name="message" id="corporationMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="block accordion -full -gray">
    <div class="block-content">
      <div class="accordion-trigger">
        <h3>Small Business</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordion-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
        <%= form_tag(applicants_contact_path, method: 'post', class: '-full') do %>
        <%= hidden_field_tag('form', 'Small Business') %>
            <div class="form-group">
              <div class="one-half-left">
                <label for="businessName">Business Name*</label>
                <input type="text" name="first_name" id="businessName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="businessEmail">Email Address*</label>
                <input type="email" name="email" id="businessEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="businessSubject">Subject*</label>
              <input type="text" name="subject" id="businessSubject" required="true">
            </div>
            <div class="form-group">
              <label for="businessMessage">Message*</label>
              <textarea name="message" id="businessMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="block accordion -full -gray">
    <div class="block-content">
      <div class="accordion-trigger">
        <h3>Community Partners</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-mail" role="img"><use xlink:href="#icon-mail"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordion-content">
        <div class="one-half-left">
          <p>Reason to Give offers small businesses an exciting opportunity to give back to the community and get your employees involved. Small business partners sponsor a student for each class and receive personal thank yous and updates on each students progress. Employees can then serve as a mentor to the sponsored student or facilitate one of our classes.</p>
          <p>Small businesses can also get involved in our annual community events and fundraisers. We have several affordable sponsorship options and opportunities for employee involvement.</p>
        </div>
        <div class="one-half-right">
          <%= form_tag(applicants_contact_path, method: 'post', class: '-full') do %>
          <%= hidden_field_tag('form', 'Community Partners') %>
            <div class="form-group">
              <div class="one-half-left">
                <label for="communityPartnerName">Partnership Name*</label>
                <input type="text" name="first_name" id="communityPartnerName" required="true">
              </div>
              <div class="one-half-right">
                <label class="one-half-right" for="communityPartnerEmail">Email Address*</label>
                <input type="email" name="email" id="communityPartnerEmail" required="true">
              </div>
            </div>
            <div class="form-group">
              <label for="communityPartnerSubject">Subject*</label>
              <input type="text" name="subject" id="communityPartnerSubject" required="true">
            </div>
            <div class="form-group">
              <label for="communityPartnerMessage">Message*</label>
              <textarea name="message" id="communityPartnerMessage" cols="30" rows="10" required="true"></textarea>
            </div>
            <input type="submit" class="btn -white -hollow submit" value="Send">
          <% end %>
        </div>                  
      </div>
    </div>
  </div>
</div>

<div class="blocks -column">
  <div class="block intern-form accordion -full -gray">
    <div class="block-content">
      <div class="accordion-trigger">
        <h3>Intern</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-document" role="img"><use xlink:href="#icon-document"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordion-content">
        <div class="panes">
          <div class="pane pane-1 active">
            <div class="one-half-left">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta dignissimos ab beatae quod harum! Eos ipsam animi autem tenetur quo voluptas, cumque, molestias sit hic ex dolorum repellendus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At maxime, odit beatae natus odio porro explicabo voluptatem excepturi pariatur, saepe officia ab commodi. Illum odit veritatis repudiandae, quo eveniet dolorem?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis laborum blanditiis odio at aperiam tempora incidunt officiis unde! Error distinctio unde quas quibusdam sapiente necessitatibus accusantium dicta itaque, alias.</p>

              <%= form_tag(applicants_path, method: 'post', class: '-full pane-form') do %>
                <%= hidden_field_tag('form', 'Educational Program Application') %>

                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internFirstName">First Name*</label>
                    <input type="text" name="first_name" id="internFirstName" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internLastName">Last Name*</label>
                    <input type="text" name="last_name" id="internLastName" required="true">
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internCell">Phone*</label>
                    <input type="tel" name="phone" id="internCell" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internEmail">Email Address*</label>
                    <input type="email" name="email" id="internEmail" required="true">
                  </div>
                </div>
                <input type="submit" value="Submit" class="btn -white submit">
            <% end %>
            </div>
            <div class="one-half-right full-bleed">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block volunteer-form accordion -last -full -gray">
    <div class="block-content">
      <div class="accordion-trigger">
        <h3>Volunteer</h3>
        <div class="actions" aria-hidden="true">
          <svg class="icon icon-document" role="img"><use xlink:href="#icon-document"></use></svg>
          <span class="plus-x"></span>
        </div>
      </div>
      <div class="accordion-content">
        <div class="panes">
          <div class="pane pane-1 active">
            <div class="one-half-left">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dicta dignissimos ab beatae quod harum! Eos ipsam animi autem tenetur quo voluptas, cumque, molestias sit hic ex dolorum repellendus soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At maxime, odit beatae natus odio porro explicabo voluptatem excepturi pariatur, saepe officia ab commodi. Illum odit veritatis repudiandae, quo eveniet dolorem?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis laborum blanditiis odio at aperiam tempora incidunt officiis unde! Error distinctio unde quas quibusdam sapiente necessitatibus accusantium dicta itaque, alias.</p>

              <%= form_tag(applicants_path, method: 'post', class: '-full pane-form') do %>
                <%= hidden_field_tag('form', 'Educational Program Application') %>

                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internFirstName">First Name*</label>
                    <input type="text" name="first_name" id="internFirstName" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internLastName">Last Name*</label>
                    <input type="text" name="last_name" id="internLastName" required="true">
                  </div>
                </div>
                <div class="form-group">
                  <div class="one-half-left">
                    <label for="internCell">Phone*</label>
                    <input type="tel" name="phone" id="internCell" required="true">
                  </div>
                  <div class="one-half-right">
                    <label for="internEmail">Email Address*</label>
                    <input type="email" name="email" id="internEmail" required="true">
                  </div>
                </div>
                <input type="submit" value="Submit" class="btn -white submit">
            <% end %>
            </div>
            <div class="one-half-right full-bleed">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "/shared/affiliates" -%>
