<%= content_for :page_title, "A storefront of Humboldt Park's basic needs" %>

<%= content_for :featured do %>
<div class="wrap slider-wrap">
  <div class="feature-slider">
    <%= render @reasons %>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img" aria-labelledby="title"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>

<div class="blocks intro">
  <div class="block -left -gray">
    <div class="block-content">
      <h3>What We Do</h3>
      <p><strong>Reason to Give</strong> empowers individuals to transform their lives and set their own paths to success. By providing education, guidance, and material necessities, we can break the cycle of poverty in our communities. We give motivated people the tools they need to achieve their goals both in their home and professional lives.</p>
      <a href="about-us" class="btn -pink -hollow">More Information</a>
    </div>
  </div>
  <div class="block -right -column -pink support-us">
    <div class="block-content -top-half -center">
      <p><strong>Why not support what we do<br> by giving whatever you can:</strong></p>
      <%= render partial: "/shared/donation_form" -%>
    </div>
    <div class="block-content -bottom-half -image-cover -center">
    </div>
  </div>
</div>

<div class="blocks ways-to-get-involved">
  <div class="block -left -pink -callout">
    <div class="block-content">
      <h3>7 Ways To Get Involved</h3>
      <h4>Find Your Reason To Give.</h4>
    </div>
  </div>
  <div class="block -right -gray block-list">
    <div class="block-content">
      <ol>
        <li>
          <a href="give" class="list-item">
            <div class="list-wrap">
              <div class="list-number">1</div>
              <div class="list-text">
                <h4>Find Your Reason to Give</h4>
                <p>Sponsor a Student and help them achieve their dreams.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="educational-programs" class="list-item">
            <div class="list-wrap">
              <div class="list-number">2</div>
              <div class="list-text">
                <h4>Teacher For A Day</h4>
                <p>We are always looking for generous people willing to pass on their expertise to our students.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="get-involved" class="list-item">
            <div class="list-wrap">
              <div class="list-number">3</div>
              <div class="list-text">
                <h4>Mentor A Student</h4>
                <p>Help keep students on track with their personal development plan.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="get-involved" class="list-item">
            <div class="list-wrap">
              <div class="list-number">4</div>
              <div class="list-text">
                <h4>Become A Partner</h4>
                <p>We’ll come to you and help your people achieve their goals.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="apply" class="list-item">
            <div class="list-wrap">
              <div class="list-number">5</div>
              <div class="list-text">
                <h4>Join Our Program</h4>
                <p>Apply to Our Program or refer someone that we can help.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="get-involved" class="list-item">
            <div class="list-wrap">
              <div class="list-number">6</div>
              <div class="list-text">
                <h4>Volunteer Or Intern</h4>
                <p>We are always looking for volunteers and interns to help with community projects, classes and childcare.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li class="list-item-form last-item">
          <div class="list-item">
            <div class="list-wrap">
              <div class="list-number">7</div>
              <div class="list-text">
                <h4>Follow Our<br> Newsletter</h4> 
              </div>
              <div class="form">
                <form action="//campaign.firebellydesign.com/t/y/s/kdjlth/" method="post" class="donate -pink">
                  <label for="cm-kdjlth-kdjlth" class="screen-reader">Email</label>
                  <input type="email" name="cm-kdjlth-kdjlth" id="kdjlth-kdjlth" placeholder="name@email.com" class="text-input">
                  <input type="submit" class="submit btn -pink" value="Sign Up!">
                </form>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

<%= render partial: "/shared/affiliates" -%>
