<%= content_for :title, raw(@page.title_override.blank? ? @page.title : @page.title_override) %>

<%= content_for :edit_link do %>
  <%= render :partial => '/shared/edit_bug', :locals => { :obj => @page, :edit_path => rails_admin.edit_path(model_name: 'page', id: @page.id) }%>
<% end %>

<%= content_for :featured do %>
<div class="wrap slider-wrap">
  <div class="feature-slider">
    <div class="feature intro-slide">      
      <div class="feature-image"><%= image_tag('RTG_Feature.jpg', alt: 'Reason To Give') %></div>
      <div class="feature-content-wrap">
        <div class="feature-content">
          <h2>Welcome to Reason to Give</h2>
          <div class="description"><p>Giving should be simplified. Donating should be quicker. Helping should be personalized.</p></div>
        </div>
      </div>
    </div>
    <%= render @reasons %>
  </div>
  <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></a>
</div>
<% end %>

<div class="blocks intro">
  <div class="block -left -gray">
    <div class="block-content">
      <h3>What We Do</h3>
      <p><strong>Reason to Give</strong> empowers people to transform their lives and set their own paths to success. With education, guidance, and the right resources, we can break the cycle of poverty in our communities and give everyone the opportunity to become self-sufficient.</p>
      <p><strong>Our goal</strong>: to give motivated people everything they need to achieve their goals, both in their homes and in their professional lives.</p>
      <a href="what-we-do" class="btn -pink -hollow">More Information</a>
    </div>
  </div>
  <div class="block -right -column -pink support-us">
    <div class="block-content -top-half -center">
      <p><strong>Why not support what we do<br> by giving whatever you can:</strong></p>
      <%= render partial: "/shared/donation_form" -%>
    </div>
    <div class="block-content -bottom-half -image-cover -center">
    </div>
  </div>
</div>

<div class="blocks ways-to-get-involved">
  <div class="block -left -pink -callout">
    <div class="block-content">
      <h3>7 Ways To Get Involved</h3>
      <h4>Find Your Reason To Give.</h4>
    </div>
  </div>
  <div class="block -right -gray block-list related-block">
    <div class="block-content">
      <ol>
        <li>
          <a href="give" class="list-item">
            <div class="list-wrap">
              <div class="list-number">1</div>
              <div class="list-text">
                <h4>Find Your Reason to Give</h4>
                <p>Sponsor a Student and help them achieve their dreams.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="get-involved" class="list-item">
            <div class="list-wrap">
              <div class="list-number">2</div>
              <div class="list-text">
                <h4>Teach A Class</h4>
                <p>Pass along your experience and expertise to our students.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="get-involved" class="list-item">
            <div class="list-wrap">
              <div class="list-number">3</div>
              <div class="list-text">
                <h4>Mentor A Student</h4>
                <p>Mentor a student and help them pave the way to success.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="get-involved" class="list-item">
            <div class="list-wrap">
              <div class="list-number">4</div>
              <div class="list-text">
                <h4>Become A Partner</h4>
                <p>Support our good work. Make an impact. Engage with the community.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="apply" class="list-item">
            <div class="list-wrap">
              <div class="list-number">5</div>
              <div class="list-text">
                <h4>Join Our Program</h4>
                <p>Apply to Our Program or Refer Someone that we can help.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li>
          <a href="get-involved" class="list-item">
            <div class="list-wrap">
              <div class="list-number">6</div>
              <div class="list-text">
                <h4>Volunteer Or Intern</h4>
                <p>We always need volunteers and interns to help with our program, community events, and childcare.</p>  
              </div>
              <div class="list-icon"><div class="plus-arrow"></div></div>
            </div>
          </a>
        </li>
        <li class="list-item-form last-item">
          <div class="list-item">
            <div class="list-wrap">
              <div class="list-number">7</div>
              <div class="list-text">
                <h4>Follow Our<br> Newsletter</h4> 
              </div>
              <div class="form">
                <%= render partial: "/shared/newsletter_form" -%>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

<%= render partial: "/shared/affiliates" -%>
