<%= content_for :page_title, @page.title %>

<%= content_for :featured do %>
<div class="wrap banner-wrap <%= @page.slug %>">
  <div class="banner">
    <div class="banner-content">
      <h2><%= @page.title %></h2>
    </div>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img" aria-labelledby="title"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>

<div class="blocks intro">
  <div class="block -left -gray">
    <article class="block-content">
      <h1><%= @page.title %></h1>
      <%= raw @page.content %>
    </article>
  </div>
  <div class="block -right -column -pink support-us">
    <div class="block-content -top-half -center">
      <p><strong>Why not support what we do<br> by giving whatever you can:</strong></p>
      <%= render :partial => "/shared/donation_form" -%>
    </div>
    <div class="block-content -bottom-half -image-cover -center">
    </div>
  </div>
</div>
