<%= content_for :title, raw(@page.title_override.blank? ? @page.title : @page.title_override) %>

<%= content_for :edit_link do %>
  <%= render :partial => '/shared/edit_bug', :locals => { :obj => @page, :edit_path => rails_admin.edit_path(model_name: 'page', id: @page.id) }%>
<% end %>

<%= content_for :featured do %>
<div class="wrap banner-wrap what-we-do">
  <div class="banner"<% unless @page.image.blank? %> style="background-image: url('<%= image_path(@page.image.url(:large)) %>')"<% end %>>
    <div class="banner-content">
      <% unless @page.banner_title.blank? %>
        <h2><%=raw @page.banner_title.gsub("\n","<br>") %></h2>
      <% end %>
    </div>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>

<% cache @page do %>
<div class="blocks">
  <div class="block -left -gray related-block">
    <div class="block-content">
      <%= raw @page.content %>
    </div>
  </div>
  <div class="block -right -pink block-list">
    <div class="block-content">
      <ol>
        <li>
          <a data-scroll href="#educationalNeeds" class="list-item">
            <div class="list-wrap">
              <div class="list-number">1</div>
              <div class="list-text">
                <h4>Meeting The Educational Needs</h4>
                <p>Because education means opportunity</p>  
              </div>
              <div class="list-icon"><div class="down-arrow"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></div></div>
            </div>
          </a>
        </li>
        <li>
          <a data-scroll href="#materialNeeds" class="list-item">
            <div class="list-wrap">
              <div class="list-number">2</div>
              <div class="list-text">
                <h4>Meeting The Material Needs</h4>
                <p>Maecenas faucibus mollis interdum.</p>  
              </div>
              <div class="list-icon"><div class="down-arrow"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></div></div>
            </div>
          </a>
        </li>
        <li>
          <a data-scroll href="#success" class="list-item">
            <div class="list-wrap">
              <div class="list-number">3</div>
              <div class="list-text">
                <h4>Ensuring Success</h4>
                <p>Maecenas faucibus mollis interdum.</p>  
              </div>
              <div class="list-icon"><div class="down-arrow"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></div></div>
            </div>
          </a>
        </li>
        <li class="last-item">
          <a data-scroll href="#whoWeServe" class="list-item">
            <div class="list-wrap">
              <div class="list-number">4</div>
              <div class="list-text">
                <h4>Who We Serve</h4>
                <p>Maecenas faucibus mollis interdum.</p>  
              </div>
              <div class="list-icon"><div class="down-arrow"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></div></div>
            </div>
          </a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="blocks" id="educationalNeeds">
  <div class="block -column -left -pink">
    <div class="block-content -top-two-thirds image-slide">
      <div class="block-image-slider block-image-slider1">
        <div><%= image_tag 'RTG_educational-needs1.jpg', alt: 'Educational Needs' %></div>
        <div><%= image_tag 'RTG_educational-needs2.jpg', alt: 'Educational Needs' %></div>
        <div><%= image_tag 'RTG_educational-needs3.jpg', alt: 'Educational Needs' %></div>
        <div><%= image_tag 'RTG_educational-needs4.jpg', alt: 'Educational Needs' %></div>
        <div><%= image_tag 'RTG_educational-needs5.jpg', alt: 'Educational Needs' %></div>
      </div>
    </div>
    <div class="block-content -bottom-third -pink -center">
      <h4>Looking to get involved,<br> volunteer or intern with us?</h4>
      <a href="get-involved" class="btn -white -hollow">Get Involved</a>
    </div>
  </div>
  <div class="block -right -gray block-slider">
    <div class="block-content">
      <div class="block-content-slider block-content-slider1">
        <div>
          <h3>1. Meeting the Educational Needs</h3>
          <p>No one said transforming lives was easy, it takes hard work and a lot of support. Our program offers just that. Reason to Give students attend 20 weeks of intense classes. Working one-on-one with both professional and peer mentors, each student sets realistic goals and writes their own plans for success. In the end, students walk away empowered with a briefcase full of life skills, a huge network of successful people willing to help, and the satisfaction of knowing how much they’ve invested in their own futures. Oh yeah, every graduate also leaves with a laptop.</p>
        </div>
        <div>
          <h3>The First Term</h3>
          <p>Our First Term is all about students overcoming barriers in their personal lives that hinder success. While our ultimate goal is to have our graduates achieve self-sufficiency, we believe that without a stable home environment and healthy lifestyle, success in the outside world is far less likely. The program kicks off with a motivational speaker to get students pumped. Then we dive into life skills that will help students get their personal lives in order.</p>
          <h4>The Classes:</h4>
          <ul>
            <li>Resiliency in the Face of Hard Times</li>
            <li>Active Parenting and Effective Communication</li>
            <li>Balancing Family Finances</li>
            <li>Healthy Living on a Budget</li>
            <li>Achieving Mental and Emotional Health</li>
            <li>Awareness of Physical Health Risks</li>
            <li>Family Planning: Parents and Their Teens</li>
          </ul>
        </div>
        <div>
          <h3>The Second Term</h3>
          <p>Our Second Term prepares students to be successful in the world outside of their homes. Students learn tangible skills to help them attain and maintain employment, another critical step towards self-sufficiency. We understand that most of our students come to us with little education and gaps in their resumes that keep them from going after what they really want. Equipping our students with the right tools lessens their fear of failure and empowers them to take that next step.</p>
          <h4>The Classes:</h4>
          <ul>
            <li>Computer Literacy</li>
            <li>Using the Internet and Social Media</li>
            <li>Resume Writing and Interview Skills</li>
            <li>Effective Networking</li>
            <li>Emotional Intelligence in the Workplace</li>
            <li>Financial Planning</li>
            <li>Time Management</li>
          </ul>
        </div>
        <div>
          <h3>The Final Term</h3>
          <p>Our Final Term allows students to utilize the skills they’ve learned and explore different avenues through which they can achieve self-sufficiency. Many students are unaware of programs and opportunities that are available to them. They may know ultimately what they want, but are unsure of how to get there.  We expose students to a variety of education and career paths, while providing the resources to follow these paths. By graduation, students are confident and ready to start the next phase of their lives.</p>
          <h4>The Classes:</h4>
          <ul>
            <li>Affordable Daycare for Working Parents</li>
            <li>Finding Reliable Employment</li>
            <li>Job Training Programs</li>
            <li>Careers in the Trades</li>
            <li>Options in Higher Education</li>
            <li>Financing an Education</li>
            <li>Entrepreneurship and Home Based Businesses</li>
          </ul>
        </div>
        <div>
          <h3>Our Classes</h3>
          <p>All of our classes are taught by our community partners. They come to us from local schools, organizations, and businesses. The best part, our partners provide students with follow-up resources and contacts that help them with their future employment and educational endeavors. By the end of the program, students have a much larger network of people they can reach out to and a greater knowledge of what is available in their community.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blocks materialNeeds" id="materialNeeds">
  <div class="block -left -gray">
    <div class="block-content">
      <h3>2. Meeting The Material Needs</h3>
      <p>Education isn’t the only thing that leads to a better future- it’s also about having the materials you need to get there. We believe that having a reliable computer and access to information is crucial to success in today’s world. That’s why we award all Reason to Give graduates their own laptop. </p>
      <p>We also work with students to help them identify what materials they need to reach their goals. Maybe that new suit gives them the confidence to ace the job interview, or money for books pushes them to finally go back to school. Maybe all they need is a few supplies to get their home business booming.  Through our website, do gooders can hear their stories and donate directly to help students receive exactly what they need to follow their dreams. </p>
    </div>
  </div>
  <div class="block -column -right -pink">
    <div class="block-content -top image-slide">
      <div><%= image_tag 'RTG_material-needs.jpg', alt: 'Material Needs' %></div>
    </div>
    <div class="block-content -bottom -pink -center">
      <p>“We Feel Education is Fundamental to Self Sufficiency”</p>
    </div>
  </div>
</div>

<div class="blocks success" id="success">
  <div class="block -column -left -pink">
    <div class="block-content -top image-slide">
      <div class="progress-container">
        <p class="progress-text"><span class="-percentage">*95%</span><br> Graduation<br> Rate</p>
        <svg class="progress-radial" width="100px" height="100px" viewBox="0 0 100 100" shape-rendering="geometricPrecision">
          <defs>
            <mask id="circle_mask" x="0" y="0" width="100" height="100" maskUnits="userSpaceOnUse">
              <circle cx="50" cy="50" r="51" stroke-width="0" fill="black" opacity="1"/>
              <circle cx="50" cy="50" r="50" stroke-width="0" fill="white" opacity="1"/>
              <circle class="progress-radial-mask-inner" cx="50" cy="50" r="45" stroke-width="0" fill="black" opacity="1"/>
            </mask>
          </defs>
          <g mask="url(#circle_mask)">
            <circle class="progress-radial-track" cx="50" cy="50" r="50" stroke-width="0" opacity="1"/>
            <path class="progress-radial-bar" transform="translate(50, 50)" 
                  d="M 0 0">
            </path>
          </g>
        </svg>   
      </div>
      <div class="block-image-slider block-image-slider2">
        <div><%= image_tag 'RTG_ensuring-success1.jpg', alt: 'Ensuring Success' %></div>
        <div><%= image_tag 'RTG_ensuring-success2.jpg', alt: 'Ensuring Success' %></div>
      </div>
    </div>
    <div class="block-content -bottom -pink -center">
      <p>*And we’re working really hard to make it 100%</p>
    </div>
  </div>
  <div class="block -right -gray block-slider related-block">
    <div class="block-content">
      <div class="block-content-slider block-content-slider2">
          <div>
            <h3>3. Ensuring Success</h3>
            <p>Our success is measured by the success of our students. We work hard to make sure our students are given everything they need to succeed. We expect them to be as motivated and invested in their own futures as we are. That’s why we require each student to commit to one year of engagement with Reason to Give.</p>
            <p>Students must attend five months of classes and progress meetings with their professional and peer mentors. In exchange, facilitators and mentors provide a wealth of support, advice, and connections to help students reach their goals. We also believe giving back to the community empowers students and enhances the learning process. After graduation, students volunteer at one of our community events and mentor a new student during the next five month program.</p>
          </div>
          <div>
            <h3>The End Goal</h3>
            <p>We can give our students the tools to become self-sufficient, but it’s what they do with these skills beyond our program that’s most important. That’s why we keep a close relationship with all of our graduates. To continue our commitment to their success, we connect students with our partners for further education, training, and employment.</p> 
            <p>We know the networks of professionals and peers that our students build when they are with us become even more critical as they pursue their goals. So we make it easy for our students to stay in touch with mentors, facilitators, and with us! Students are welcome in our office whenever they need extra support. We help our students with job applications and financial aid forms. We’ve even babysat in a pinch so a single mom could go to a job interview.</p>
            <p>Reasontogive.com takes it one step further. Through videos, students give periodic updates on their progress after graduation. Speaking their dreams out loud, where the world can hold them accountable, is added motivation to keep them working towards a better future.</p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="blocks" id="whoWeServe">
  <div class="block -left -gray">
    <div class="block-content">
      <h3>4. Who We Serve</h3>
      <p>We serve families and individuals who want and need support the most. All we ask is that students be as committed to their own futures as we are. Our students range from high school seniors to senior citizens. While the majority of the population we serve is Latino or African American from Chicago’s West Side communities, enrollment is open to all motivated individuals who want to become self-sufficient. We rely on our graduates and network of community partners to spread the word and refer students who will benefit from our help. </p>
      <p>We don’t want to leave anyone out. Since so many of our students are low income single parents, we offer free educational childcare for all ages during our classes. We believe we do the most good by helping the entire family unit. Our annual Holiday Potluck and Back to School events provide fun and lots of goodies for the whole family.</p>
    </div>
  </div>
  <div class="block -column -right -pink">
    <div class="block-content -top-two-thirds image-slide">
      <%= image_tag 'RTG_who-we-serve.jpg', alt: 'Who We Serve' %>
    </div>
    <div class="block-content -bottom-third -pink -center">
      <h4>Thinking about applying for our next term?</h4>
      <a href="apply" class="btn -white -hollow">More Information</a>
    </div>
  </div>
</div>
<% end %>