<h1>New contact email for: <%= @applicant.form %></h1>

<p>Business/Foundation/Partnership Name: <%= @applicant.first_name %>
<p>Email: <%= @applicant.email %></p>

<h3>Subject:</h3>
<p><%= @applicant.subject %></p>

<h3>Message:</h3>
<%= simple_format @applicant.message %>
