<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New contact email for: <%= @applicant.form %></h1>
    <p>Name: <%= @applicant.first_name %>
    <p>Email: <%= @applicant.email %></p>
    <p>Phone: <%= @applicant.phone %></p>
    <p>Subject: <%= @applicant.subject %></p>
    <p></p>
    <%= simple_format @applicant.message %>
  </body>
</html>