<h1>New application for: <%= @applicant.form %></h1>

<p>Name: <%= @applicant.full_name %>
<p>Email: <%= @applicant.email %></p>
<p>Phone: <%= @applicant.phone %></p>

<p><%= link_to 'View in admin', rails_admin.show_url(model_name: 'applicant', id: @applicant.id, protocol: 'https') %></p>