<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New applicant for: <%= @applicant.form %></h1>
    <p>Name: <%= @applicant.first_name %> <%= @applicant.last_name %></p>
    <p>Email: <%= @applicant.email %></p>
    <p>Phone: <%= @applicant.phone %></p>
  </body>
</html>