<h1>New applicant for: <%= @applicant.form %></h1>

<%= simple_format @applicant.full_address %>

<p>Email: <%= @applicant.email %></p>
<p>Cell phone: <%= @applicant.phone %></p>
<p>Contact preference: <%= @applicant.contact_preference %></p>
