<%= content_for :title, raw(@page.title_override.blank? ? @page.title : @page.title_override) %>

<%= content_for :edit_link do %>
  <%= render :partial => '/shared/edit_bug', :locals => { :obj => @page, :edit_path => rails_admin.edit_path(model_name: 'page', id: @page.id) }%>
<% end %>

<%= content_for :featured do %>
<div class="wrap banner-wrap news">
  <div class="banner"<% unless @page.image.blank? %> style="background-image: url('<%= image_path(@page.image.url(:large)) %>')"<% end %>>
    <div class="banner-content">
      <% unless @page.banner_title.blank? %>
        <h2><%=raw @page.banner_title.gsub("\n","<br>") %></h2>
      <% end %>
    </div>
    <a data-scroll href="#content" class="scroll-down"><svg class="icon icon-arrow" role="img"><use xlink:href="#icon-arrow"></use></svg></a>
  </div>
</div>
<% end %>


<div class="blocks mediaInquiries">
  <div class="block -gray -left">
    <div class="block-content">
      <%= raw @page.content %>
    </div>
  </div>
  <div class="block -pink -right">
    <div class="block-content -center">
      <h4>For more information please download our PDF and feel free to email us at:<br><a href="mailto:press@firebellydesign.com">press@firebellydesign.com</a></h4>
      <a href="what-we-do" class="btn -white -hollow -wider">Download Full PDF</a>
    </div>
  </div>
</div>

<% cache [@news,@press] do %>
<div class="blocks news-lists">
  <div class="block -left -pink -column news-list -unflex">
    <div class="block-content block-title -center">
      <h3>Our News</h3>
      <h4>What's New &amp; Upcoming</h4>
    </div>
    <ul class="news-items">
      <%= render partial: "news", :collection => @news %>
    </ul>

    <div class="block-content show-more -center">
      <%= link_to 'Show More', '#', class: 'btn -white -hollow show-more' %>
      <%= link_to_next_page @news, 'Next Page', class: 'btn -white -hollow next-page' %>
    </div>
  </div>

  <div class="block -right -gray -column press-list -unflex">
    <div class="block-content block-title -center">
      <h3>Our Press</h3>
      <h4>What Other People Are Saying About Us</h4>
    </div>
    <ul class="news-items">
      <%= render partial: "news", :collection => @press %>
    </ul>

    <div class="block-content show-more -center">
      <%= link_to 'Show More', '#', class: 'btn -pink -hollow show-more' %>
      <%= link_to_next_page @press, 'Next Page', class: 'btn -pink -hollow next-page' %>
    </div>
  </div>
</div>
<% end %>